/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin:  0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== CLASES DE CSS REUTILIZABLES ===============*/

.section {
  padding: 4.5rem 0 2rem;

}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 990px;
  /*968*/
  max-height: 850px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  color: var(--title-color);
  font-weight: 600;

}

.nav__logo {
  width: 100px;
}

@media screen and (max-width: 767px) {

  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/
  /* Quitar los nombres de los icons */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Diseño minimalista, active link */
.active-link::before {
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
}

/* Cambiar el fondo header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== CONSULTAS DE MEDIOS  ===============*/
/* Para dispositivos pequeños */
/* Se puede eliminar*/
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/*=============== HACER RESPONSIVE CUANDO ESTA EN COMPUNTADORA ===============*/
/* Para dispositivos medianos */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    /* 4.5rem */
  }

  .nav__img {
    display: none;
  }

  .nav__icon {
    display: none;
  }


  .nav__name {
    font-size: var(--normal-font-size);
    display: block;
  }



  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* Para dispositivos grandes */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}


/*=============== Home ===============*/
.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0.25turn, #ed2323, #ebf8e1, #9c9292);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

section {
  padding: 0 19%;
  /*margin-top: 50px;;*/
}

.hero-text h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  line-height: 1.5;
  color: rgb(23, 22, 22);
  margin: 0 0 10px;

}

.hero-text p {
  font-family: 'Roboto', sans-serif;
  color: rgb(71, 67, 67);
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 40px;
}

.hero-img img {
  width: 700px;
  height: auto;
  /*margin-left: 100px;*/
}

.hero-text a {
  display: inline-block;
  color: white;
  background: radial-gradient(circle, rgba(19,19,19,1) 0%, rgba(0,0,0,1) 93%);
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
}

.hero-text a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);

}

.hero-text a.ctaa {
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}

.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all .50s ease;
}

.icons i:hover {
  color: #4d9559;
  transform: translateY(-5px);
}

@media (max-width: 1535px) {
  .icons {
    padding: 0 3%;
    transition: .2s;
  }

}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: .2s;
  }
}

@media (max-width: 1340px) {
  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
}

@media (max-width: 1340px) {
  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-text h1 {
    font-size: 50px;
    margin: 0 0 30px;
  }

}

@media (max-width: 900px) {
  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-text h1 {
    font-size: 40px;
    margin: 0 0 30px;
  }
  .nav__link{
    font-size: 10px;
  }
}


@media (max-width: 767px) {
  section {
    padding: 0 3%;
    transition: .2s;
  }

  .hero-text {
    padding-top: 115px;
  }

  .hero-img {
    text-align: center;
  
  }

  .hero-img img {
    width: 560px;
    height: auto;
  }

  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .icons {
    display: none;
  }

}

@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}

/*=============== Nuestros Docentes ===============*/


/*=============== Instalaciones y laboratorios===============*/

/* WORK */
.sectionn {
  padding-top: 6rem;
  padding-bottom: 0rem;
}
.work {
  text-align: center;
}

.work_container {
  row-gap: 2rem;
}

.work_img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.work_img img {
  transition: 1s;
  cursor: pointer;
}

.work_img img:hover {
  transform: scale(1.1);
}
.bd_grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  
  margin-left: var(1rem);
  margin-right: var(1rem);
}

@media screen and (min-width: 768px) {

  .work_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

}

@media screen and (min-width: 1024px) {
.bd_grid {
  margin-left: auto;
  margin-right: auto;
}


}
/*=============== Noticias ===============*/



/*=============== Contactanos ===============*/
